<tr data-local-authority-id="<%= local_authority.id %>" class="header-row">
  <th class="name" colspan="4">
    <h3><%= link_to local_authority.name, local_authority %></h3>
  </th>
</tr>
<% links_by_authority.each do |link| %>
  <%= render 'shared/link_table_row', link: ServiceLinkPresenter.new(link, view_context: self) %>
<% end %>
