/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'govuk_admin_template';



.no-gutter {
  padding-right:0;
  padding-left:0;
}

.v2 {
  .home-nav {
    margin-bottom: ($line-height-computed / 2);
  }
  .panel-heading {
    padding-top: 25px;
  }
  .table {
    table-layout:fixed;
  }
  thead > tr > th,
  tbody > tr > td {
    padding-left: 15px;
    padding-right: 15px;
    overflow-wrap: break-word;
  }
  tr.no-service-label > td {
    padding-top: 15px;
  }
  td.status .label {
    font-size: 100%;
  }
  td.name {
    h3, .broken-link-count {
      margin-top: ($line-height-computed / 2);
    }
  }
  .dropdown {
    display: inline-block;
    margin-right: 15px;
  }
  .broken-link-count {
    @extend h3;
    span {
      font-size: $font-size-base;
    }
  }
  .total-number-container {
    .form-group, .total-number {
      margin-bottom: 0px;
    }
    margin-bottom: 0px;
  }
  .total-number {
    font-weight: 500;
    .big-number {
      line-height: 1;
    }
  }
  .lgsl_h4 {
    @extend h4;
    font-size: $font-size-base;
    font-weight: normal;
    line-height: floor(($font-size-h4 * $headings-line-height));
  }
  .lgsl_h3 {
    @extend h3;
    font-size: $font-size-base;
    font-weight: normal;
    line-height: floor(($font-size-h3 * $headings-line-height));
  }

  .link-type-controls {
    label {
      margin-right: 1em;
    }
    a {
      color: $text-color;
      &:visited {
        color: $text-color;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}
